
@import "bourbon"
@import "neat"

@keyframes walk
	0%
		background-position: -64px
	50%
		 background-position: -128px

#game
	display: block
	position: absolute
	top: 0px
	left: 0px
	bottom: 0px
	right: 0px
	+background(linear-gradient(#abf, #78d) top repeat)
	#ground
		display: block
		position: absolute
		left: 0px
		bottom: 0px
		right: 0px
		height: 128px
		background: url("../assets/ground-grass-3.png") top left repeat-x, url("../assets/ground-4.png") 0px 64px repeat
		background-size: 64px
	#player
		display: block
		position: absolute
		left: 0px
		bottom: 128px
		right: 0px
		height: 64px
		width: 64px
		background: url("../assets/player.png") left center
		background-size: 192px
		transform: scaleX(-1)
		&.left
			transform: scaleX(1)
		&.walking
			//background-position: -64px
			animation: walk 0.5s steps(1) infinite
		&.running
			animation: walk 0.4s steps(1) infinite
